.shop {
  padding: 20px;
  background-color: #f9f9f9;
}

.shop h2 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.shop p {
  text-align: center;
  font-size: 1rem;
  color: #777;
  margin-bottom: 20px;
}

.shop-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.shop-container-left-box {
  flex: 1;
  max-width: 300px;
}

.shop-container-left-box-category {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.shop-container-left-box-category-header h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

.shop-container-left-box-category-box ul {
  list-style-type: none;
  padding: 0;
}

.shop-container-left-box-category-box li {
  font-size: 1rem;
  color: #555;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.shop-container-left-box-category-box li:hover {
  color: #dd004d;
}

.shop-banner {
  margin-top: 20px;
}

.shop-banner-img img {
  width: 100%;
  border-radius: 8px;
}

.shop-container-right-box {
  flex: 3;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .shop-container-right-box-banner img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
} */

.shop-product-box h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.shop-product-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.shop-box {
  position: relative;
  overflow: hidden;
  flex: 1 1 200px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.shop-box:hover {
  transform: scale(1.05);
}

.shop-box-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.shop-box-icon {
  position: absolute;
  top: 20%;
  right: -50px;
  display: flex;
  flex-direction: column;
  transition: right 0.5s ease;
  visibility: visible;
  opacity: 1;
  transform: translateY(-50%);
}

.shop-box:hover .shop-box-icon {
  right: 10px;
}

.shop-box-icon svg {
  z-index: 1;
  color: rgb(91, 91, 91);
  transition: 0.3s ease;
}

.shop-box-icon svg:hover {
  color: #dd004d;
}

.shop-box-detail {
  padding: 15px;
  text-align: center;
}

.shop-box-detail h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.shop-box-detail p {
  font-size: 16px;
  color: #dd004d;
  margin-bottom: 10px;
}

.shop-box-detail button {
  padding: 10px 20px;
  color: #232323;
  background: rgb(255, 233, 67);
  font-weight: 600;
  cursor: pointer;

  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.shop-box-detail button:hover {
  color: rgb(255, 255, 255);
  background: #232323;
}

.product-detail {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 80%;
  max-width: 1000px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.product-detail-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.image-box-detail {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box-detail img {
  width: 100%;
  height: auto;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-detail-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-detail-info h3 {
  font-size: 26px;
  color: #dd004d;
  margin-bottom: 15px;
  font-weight: 700;
}

.product-detail-info p {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  line-height: 1.5;
}

.product-detail-info p:first-of-type {
  font-size: 18px;
  color: #777;
  margin-bottom: 20px;
}

.product-detail-info p:last-of-type {
  font-size: 20px;
  color: #232323;
  margin-top: 20px;
  font-weight: 600;
}

.product-detail-info button {
  padding: 12px 25px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  background-color: #dd004d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 20px;
}

.product-detail-info button:hover {
  background-color: #c7003d;
  transform: scale(1.05);
}

.close-btn-detail {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #dd004d;
  transition: color 0.3s ease;
}

.close-btn-detail:hover {
  color: #c7003d;
}
